.App-header {
  margin: 40px 0;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}


.App {
background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  max-width: 960px;
  margin: 0 auto;

}

footer {
    text-align: center;
  font-size: 18px;
 font-family: Impact,
 Haettenschweiler,
 'Arial Narrow Bold',
 sans-serif;
}

span { 
    font-family: 'Lovers Quarrel',
    cursive;
    font-size: 36px;

}